################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/18_HomeWork/Debug/18_HomeWork.tlog
